/* Navbar.css */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--light-blue);
    z-index: 2;
    box-shadow: 0 0 20px 0 rgba(144, 174, 205, 0.339);
    transition: all 0.2s linear;
    padding: 1rem 2rem;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}



.nav-logo a {
    color: var(--bold-text-color);
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    color: var(--bold-text-color);
    text-decoration: none;
}

@media (max-width: 1300px) {
    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 950px) {
    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--light-blue);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        visibility: hidden;
        z-index: 20;
        gap: 2rem;
        transition: all 0.3s linear;
    }

    .nav-active .nav-links {
        transform: translateX(0);
        visibility: visible;
    }
}
